---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
import PinnedPost from "@/components/PinnedPost.astro";
const entry = (await getEntry("pages", "coming-soon")) as CollectionEntry<"pages">;
---

<Base title={entry.data.title} metaTitle={entry.data.metaTitle}>
  <div class="pt-10 bg-light flex items-center justify-center flex-col">
    <div class="w-3/4 mb-6 shadow bg-white">
      <PinnedPost post={entry} />
    </div>
  </div>
</Base>
