---
import Base from "@/layouts/Base.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
import Post from "@/components/Post.astro";
const entry = (await getEntry("pages", "coming-soon")) as CollectionEntry<"pages">;
---

<Base title={entry.data.title} metaTitle={entry.data.metaTitle}>
  <div  id="posts-container" data-testid="posts-container" class="bg-light flex items-center justify-center flex-col">
    <Post post={entry} styling="tile w-3/4 mb-6 shadow bg-white border-t-2 border-red" />
  </div>
</Base>
