---
import Base from "@/layouts/Base.astro";
import Post from "@/components/Post.astro";
import LocationPost from "src/components/LocationPost.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate, sortByWeight } from "@/lib/utils/sortFunctions";

const pinnedPosts = await getSinglePage("pinnedPosts");
const sortedPosts = sortByWeight(pinnedPosts);
---

<Base>
  <div data-testid="pinned-items" class="bg-light flex items-center justify-center flex-col">
    <LocationPost styling="w-3/4 mb-6 shadow bg-white"/>
    {
      sortedPosts.map((post) => {
        return (
        <Post post={post} styling={`tile w-3/4 mb-6 shadow bg-white ${post.data.additionalStyling}`} />
        );
      })
    }
  </div>
</Base>
