---
import type { CollectionEntry } from "astro:content";
import Base from "@/layouts/Base.astro";
import Post from "@/components/Post.astro";
import MatchTracker from "@/components/MatchTracker.astro";
import LocationPost from "src/components/LocationPost.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByWeight } from "@/lib/utils/sortFunctions";
import notifications from "@/content/notifications.json";
const pinnedPosts = await getSinglePage("pinnedPosts");
const sortedPosts = sortByWeight(pinnedPosts);
type PostType = CollectionEntry<"posts">;
---

<Base>
  <div data-testid="pinned-items" class="bg-light flex items-center justify-center flex-col">
    {
      Object.entries(notifications).filter(([_id, data]) => data.enabled).map(([id, data]) => {
        const post: PostType = { id: id, body: data.body, data: { title: id } };
        return (
          <Post
            post={post}
            styling="w-3/4 mb-6 shadow bg-blue text-white scroll-mt-5"
            headerStyling="text-white !text-[3rem]"
            topBorderStyling="border-t-2 border-blue-300"
            heroTextStyling="inline-flex text-[2rem]"
            />
        );
      })
    }
    <LocationPost styling="w-3/4 mb-6 shadow bg-white scroll-mt-5"/>
    <MatchTracker styling="w-3/4 mb-6 shadow bg-white scroll-mt-5"/>
    {
      sortedPosts.map((post) => {
        return (
        <Post post={post} styling={`tile w-3/4 mb-6 shadow bg-white scroll-mt-5 ${post.data.additionalStyling}`} />
        );
      })
    }
  </div>
</Base>
