---
import Social from "@/components/Social.astro";
import social from "@/config/social.json";
---

<footer class="footer flex-0 bg-white pt-6">
  <div class="container text-center">
    <div class="row items-center">
      <div>
      </div>
    </div>
  </div>
</footer>
<style>
@import "@/styles/tailwind.css";
:root {
  --safe-area-max-inset-bottom: env(safe-area-max-inset-bottom, 36px);
  --bottom-bar-height: 50px;
}
.footer {
  height: var(--bottom-bar-height);
  padding-bottom: var(--safe-area-max-inset-bottom);
  bottom: calc(env(safe-area-inset-bottom, 0px) - var(--safe-area-max-inset-bottom))
}
</style>
