---
import { IoLogoGithub } from "react-icons/io5";
import social from "@/config/social.json";
---

<footer class="footer grid grid-cols-2 grid-rows-[100%] bg-white px-5 items-center">
  <div/>
  <a
    class="justify-self-end"
    aria-label="github"
    href={social.github}
    target="_blank"
    rel="noopener noreferrer nofollow"
  >
    <IoLogoGithub size={35} />
  </a>
</footer>
<style>
@import "@/styles/tailwind.css";
:root {
  --safe-area-max-inset-bottom: env(safe-area-max-inset-bottom, 36px);
}
.footer {
  padding-bottom: var(--safe-area-max-inset-bottom);
  padding-top: 15px;
}
</style>
