---
import config from "@/config/config.json";
import { fromBase } from "@/lib/fromBase";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
  styling: string;
};

const { post, styling } = Astro.props;
const { summary_length } = config.settings;
---

<div data-testid="location-post" class={`${styling} tile border-t-2 border-t-dark-red flex flex-col items-center lg:border-none lg:flex-row-reverse`}>
  <div class="flex flex-col items-center justify-center text-center">
    <h3 class="h4 mt-2 text-center p-[1.5rem] text-gold border-b-1 border-divider">
      Join us for every match at Merry Arts Pub & Grille
    </h3>
    <div data-testid="links" class="pb-2 mx-[1.5rem]">
      <a class="block border-b-1 border-divider p-2" href="https://maps.app.goo.gl/XHD6rF3iRXUfG5Wt9">15607 1/2 Detroit Ave, Lakewood, OH 44107</a>
      <a class="block p-2" href="https://merryartspubandgrille.com">https://merryartspubandgrille.com</a>
    </div>
  </div>
  <div class="items-center md:w-15/16 flex-grow xl:w-3/8">
    <a href="https://maps.app.goo.gl/XHD6rF3iRXUfG5Wt9" class="items-center flex">
      <Image
        class="lg"
        src={fromBase("/images/merry-arts-map.png")}
        alt="map"
        width={1044}
        height={600}
        class="w-full"
        format="webp"
      />
    </a>
  </div>
</div>
